@import "../baseVariables";
@import "../table";

.jobsTab {
  border-radius: 0 !important;

  .v-text-field__details {
    display: none;
  }

  .v-input__slot {
    margin-bottom: 0 !important;
  }

  .v-tab {
    text-transform: capitalize;
    font-size: pxToVw(16);
    font-weight: 700;
  }

  .v-tab.v-tab--active {
    background-color: $primaryColor;
    color: #ffffff;
  }

  .ja__selected_card {
    background-color: #ececec;
    padding: pxToVw(25) pxToVw(10);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top_portion {
      width: 100%;
      text-align: right;

      .job_create_btn {
        background-color: #69aa44 !important;
        text-transform: capitalize !important;

        span {
          color: #ffffff !important;
          font-size: pxToVw(12);
          letter-spacing: .02px;
        }

        i {
          color: #ffffff !important;
          font-size: pxToVw(15);
        }
      }

      .cv_search_btn {
        text-transform: capitalize !important;
        background-color: $primaryColor !important;
        color: #ffffff !important;
        font-size: pxToVw(12);
        letter-spacing: .02px;
      }
    }

    .search__btn {
      .v-btn {
        max-width: 45%;
      }
    }
  }

  .tab_contain {

  }

  .posted__list {
    justify-content: center;
  }
}

//add jobs css start
.mainTemplate {
  background-color: transparent !important;
  .mainContainer {
    padding-bottom: 10px;
    -webkit-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
    justify-content: center;
   width: 60%;
    margin: pxToVw(20) auto;
    background-color: #ffffff;
    @media (max-width: 959px){
      width: 95%;
    }
    .h1Text {
      text-align: center;
      margin: 20px 0;
      font-size: pxToVw(25);
      color: $secondaryColor;
      @media (max-width: 959px) {
        font-size: pxToMobVw(40);
      }
    }
  }
}


//add jobs css end
//job details css start
.jobsDetails {
  p {
    margin-bottom: 0 !important;
  }

  .tab_contain {
    padding: pxToVw(20) pxToVw(45) pxToVw(0) pxToVw(45) !important;
  }

  .top_section_card {
    background-color: #d9d9d9;
    padding: pxToVw(40) pxToVw(40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .ja_left_card {
      .job_title {
        text-transform: capitalize;
        font-size: pxToVw(30);
      }
    }

    .ja_right_card {
      .v-icon{
        line-height: 0 !important;
      }
      .v-btn, .v-icon {
        color: #ffffff !important;
        font-size: pxToVw(14);
      }
    }
  }

  .jd_section_card {
    padding: pxToVw(20) pxToVw(40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .jd_border {
      border: 2px solid #E0E0E0;
      padding: pxToVw(20) !important;
      height: pxToVw(150);
      align-items: center;
    }

    .jd_left_card {
      .jd_list {
        margin: 0 pxToVw(15);
        text-align: center;

        .jd_status {
          font-size: pxToVw(18);
        }

        .jd_title {
          text-transform: capitalize;
          font-size: pxToVw(22);
          font-weight: 700;
        }
      }
    }

    .jd_right_card {
      .jd_list {
        text-align: center;
        margin: 0 pxToVw(15);

        .jd_status {
          font-weight: 700;
        }

        .jd_status, .jd_title {
          text-transform: uppercase;
          font-size: pxToVw(20) !important;
        }

        .v-icon {
          font-size: pxToVw(35) !important;

        }
      }
    }
  }

  .search__btn {
    .v-btn {
      max-width: 45%;
    }
  }

  .job_tab {
    font-size: pxToVw(16) !important;
  }
}

//job details css end
//Applicant list css start
.applicant__list {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  tbody {
    tr {
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

//Applicant list css end
//job preview css start
.jp{
  .ja__card{
    padding-top:  0 !important;
    box-shadow:none !important;
  }
  .chart_top{
    padding: 0 pxToVw(10);
  }
  .jp_summary_cards{

    padding: pxToVw(25) 0;
    .v-card{
      width: 35%;
      margin: 0 pxToVw(10);
    }
    .card_bottom{
      padding: pxToVw(25) pxToVw(20) pxToVw(10) pxToVw(20);
    }
  }
}
//job preview css end
