@import "../baseVariables";
.aboutUs-main-container{
  .aboutUs-main-container__main{
    width: 70%;
    margin: 0 auto;
    padding: pxToVw(55) 0;
    @media (max-width: 959px){
      width: 85%;
      padding: pxToMobVw(45) 0;
    }
  }
  .banner{
    position: relative;
    img{
      width: 100%;
      height: 100%;
      max-height: pxToVw(400);
      background-size: cover;
      @media (max-width: 540px){
        max-height: pxToMobVw(400) !important;
      }
    }
    .content-header{
      position: absolute;
      top: 30%;
      text-align: center;
      width: 100%;
      h1{
        color: #ffffff;
        font-size: pxToVw(62);
        @media (max-width: 540px){
          font-size: pxToMobVw(30);
        }
      }
    }
    &:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,.7);
    }
  }
}
