@import "../baseVariables";
.applied-job{
  p{
    margin: 0 !important;
  }
  .ja__card{
    padding: 30px 50px;
    @media (max-width: 959px){
      padding: 15px 0;
    }
  }
  .ja__selected_card{
    background-color: #ececec;
    padding: pxToVw(25) pxToVw(20);
    .search__btn{
      .v-btn{
        max-width: 45%;
      }
    }
  }
  .jobActivity{
    padding: pxToVw(30) 0;
    .jaif{
      padding: pxToVw(5) 0 pxToVw(5) 0;
      color: #69aa44;
      font-size: pxToVw(16);
      @media (max-width: 959px){
        text-align: center;
        font-size: pxToMobVw(25);
        margin: pxToMobVw(30) 0 !important;
      }
      span{
        font-size: pxToVw(16);
        height: pxToVw(22);
        padding: pxToVw(0) pxToVw(10) pxToVw(0) pxToVw(10);
        color: #fff;
        background-color: #68aa47;
        border-radius: 4px;
        margin-left: pxToVw(5);
        @media (max-width: 959px){
          font-size: pxToMobVw(25);
          height: pxToMobVw(22);
          padding: 0 pxToMobVw(10);
          margin-left: pxToMobVw(5);
        }
      }
    }
    .ja_tinfo{
      padding: 0 pxToVw(20);
      .light__grey{
        background-color: #9da2a6;
      }
      .green{
        background-color: #68aa47;
      }
      .blue{
        background-color: #0091ea;
      }
      .v-icon{
        float: left;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        padding-top: 7px;
        margin-right: 10px;
        display: block;
      }
    }
  }
  table{
    width: 100%;
    border: none;
    margin-top: 0;
    border-spacing: 0;
    text-align: left;
    .col-w{
      @media (max-width: 959px){
        width: 180px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
      }
    }
    .exp-c{
      @media (max-width: 959px){
        width: 100px !important;
      }

    }
    tr th{
      border: none;
      vertical-align: middle;
      padding: 0 pxToVw(10);
      @media (max-width: 959px) {
        padding: pxToMobVw(10) pxToMobVw(40);
      }
    }
    td{
      border-top: 1px solid #efefef;
      padding: pxToVw(15) pxToVw(10);
      @media (max-width: 959px) {
        padding: pxToMobVw(20) pxToMobVw(40);
      }
    }
    .panel-heading{
      vertical-align: middle;
      background-color: #d9d9d9;
      color: #333;
      width: 90%;
      margin: 0 auto;
      font-size: 13px;
      font-weight: 700;
      padding-top: 12px;
      height: pxToVw(50);
    }
    .interactn{
      .v-icon{
        font-size: pxToVw(16) !important;
        @media (max-width: 959px){
          font-size: pxToMobVw(25) !important;
        }
      }
    }
    .c-grey{
      color: #9da2a6 !important;
      border: 1px solid #9da2a6;
    }
    .c-green{
      color: #59913d !important;
      border: 1px solid #59913d;
      margin: 0 pxToVw(5);
    }
    .c-blue{
      border: 1px solid #0091ea;
      color: #0091ea !important;
    }
  }
  .pagination{
    margin: pxToVw(40) 0;
    .pg-list{
      .v-btn{
        border-radius: 0 !important;
        border: 1px solid #efefef;
      }
    }
  }
}