@import "../baseVariables";
@import "../table";
.applied-job{
  p{
    margin: 0 !important;
  }
  .ja__selected_card{
    background-color: #ececec;
    padding: pxToVw(25) pxToVw(20);
    .search__btn{
      .v-btn{
        max-width: 45%;
      }
    }
  }
  .jobActivity{
    padding: pxToVw(30) 0;
    .jaif{
      padding: pxToVw(5) 0 pxToVw(5) 0;
      color: #69aa44;
      font-size: pxToVw(16);
      span{
        font-size: pxToVw(16);
        min-width: pxToVw(35);
        height: pxToVw(22);
        padding: pxToVw(0) pxToVw(10) pxToVw(0) pxToVw(10);
        color: #fff;
        background-color: #68aa47;
        border-radius: 4px;
        margin-left: pxToVw(5);
      }
    }
    .ja_tinfo{
      padding: 0 pxToVw(20);
      .light__grey{
        background-color: #9da2a6;
      }
      .green{
        background-color: #68aa47;
      }
      .blue{
        background-color: #0091ea;
      }
      .v-icon{
        float: left;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        padding-top: 7px;
        margin-right: 10px;
        display: block;
      }
    }
  }
}