@import "../_baseVariables.scss";


.vTelInput {
  background: white;
  // border: 1px solid red !important;
}

.vTelInput_error {
  background: white;
  border: 1px solid red !important;
}

.mainTemplate_biodata {
  background: transparent;
}

.mainContainer_biodata {
  background: #efefef;
  justify-content: center;
  width: 60%;
  margin: 0px auto;
  -webkit-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
  padding-bottom: 10px;

  @include tab() {
    width: 95%;
  }
}

.h1Text {
  text-align: center;
  margin: 0 20px;
  font-size: 25px;
  color: $secondaryColor;
}

.pHeader {
  margin: 10px 20px;
  font-size: 15px;

  span {
    color: red;
    font-size: 12px;
  }
}

.biodata-image {
  display: flex;
  flex-wrap: wrap;

  .biodata-first {
    flex-basis: 20%;
    flex-grow: 1;
    // height: 100px;
    // background: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .biodata-name {
      flex-basis: 90%;
      margin-left: 5%;
      // flex-grow: 1;
      // height: 20px;
      // background: black;
    }

    .biodata-notice-period {
      flex-basis: 90%;
      margin-left: 5%;
      // flex-grow: 1;
      // height: 20px;
      // background: yellow;
    }
  }

  .biodata-second {
    flex-basis: 20%;
    flex-grow: 1;
    // height: 100px;
    // background: green;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*  &:nth-child(1) {
      flex-basis: 30%;
      margin-top: 30px;
    } */

    .biodata-image-display {
      // margin-top: 30px;
      // height: 50%;
      // justify-content: center;

    }

    .biodata-image-input {
      // min-height: 80%;
      // height: 50%;
      // justify-content: center;
    }
  }
}

.row-1 {
  width: 50%;
  margin: 20px 20px 0px 20px;

  p {
    margin: 2px 0;
  }

  @include tab() {
    width: 85%;
  }
}

.row-2 {
  width: 50%;
  margin: 0px 20px 0px 20px;

  p {
    margin: 2px 0;
  }

  @include tab() {
    width: 85%;
  }
}

.row-3 {
  width: 50%;
  margin: 0px 20px 10px 20px;

  @include tab() {
    width: 85%;
  }

  div {
    @include tab() {
      width: 100%;
    }

    width: 70%;

    p {
      margin-top: -15px;
    }
  }

  p {
    margin-bottom: 0px;
  }
}

.row-4 {
  margin: 15px 20px;

  p {
    margin-bottom: 5px;
  }
}

.row-5 {
  margin: 15px 20px;

  p {
    margin-bottom: 5px;
  }
}

.row-6 {
  margin: 15px 20px;

  p {
    margin-bottom: 5px;
  }
}

.row-7 {
  margin: 15px 20px;

  p {
    margin-bottom: 5px;
  }
}

.row-8 {
  margin: 15px 20px;

  p {
    margin-bottom: 5px;
  }
}

.row-9,
.row-10,
.row-11,
.row-13 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .item-1 {
    flex-grow: 1;
    margin: 0 20px;
    flex-basis: 40%;

    @include tab() {
      flex-basis: 80%;
    }
  }

  .item-2 {
    flex-grow: 1;
    margin: 0 20px;
    flex-basis: 40%;

    @include tab() {
      flex-basis: 80%;
    }
  }
}

.row-12 {
  margin: 0 20px;
}

.row-14 {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;

  .item-1 {
    flex-grow: 1;
  }

  .item-2 {
    flex-grow: 1;
    text-align: right;
  }
}