@import "../baseVariables";

// ****** contact css start ******//
.contact_form {
  @media (max-width: 959px) {
    //padding: pxToMobVw(50) 0 pxToMobVw(100) 0;
    height: 100%;
  }

  .heading {
    margin-bottom: pxToVw(20);

    h2 {
      font-family: $primaryFont;
      color: $primaryColor;
      text-decoration: underline;
    }

    h3 {
      font-family: $primaryFont;
      color: $primaryColor;
    }
  }

  .v-text-field--outlined fieldset {
    border: 2px solid $secondaryColor !important;
  }

  .v-input__slot {
    background-color: #ffffff !important;
  }

  .contact{
    display: flex;
    justify-content: center;
    @media (max-width: 540px){
      display: block !important;
    }
  }
  .contact_box {
    margin: pxToVw(75) pxToVw(20) pxToVw(55) pxToVw(20);
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background: #fff;
    padding: pxToVw(64) pxToVw(50) pxToVw(43);
    position: relative;
    width: 30%;
    @media (max-width: 959px){
      width: 45%;
      padding: pxToMobVw(45) pxToMobVw(40) pxToMobVw(25);
    }
    @media (max-width: 540px) {
      width: 100%;
      margin: pxToMobVw(60) 0;
    }
    &:hover .contact_icon{
      background: $primaryColor;
      border-color: $primaryColor;
      color: #fff;
      .v-icon{
        color: #ffffff !important;
      }
    }
  }
.contact_body{
  h3{
    margin-bottom: 15px;
    font-size: 25px;
  }
  a{
    color: #000000;
    &:hover{
      color: $primaryColor !important;
    }
  }
}
  .contact_icon {
    border: 1px solid #ebebeb;
    width: pxToVw(78);
    height: pxToVw(78);
    line-height: pxToVw(73);
    text-align: center;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: pxToVw(-45);
    left: pxToVw(35);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 540px){
      width: pxToMobVw(65);
      height: pxToMobVw(65);
      top: pxToMobVw(-40);
      left: pxToMobVw(30);
    }
    .v-icon{
      font-size: 30px !important;
      color: $primaryColor !important;
    }
  }
}

// ****** contact css end ******//
