@import "../_baseVariables.scss";


.mainTemplate_education {
  background: transparent;
}

.mainContainer_education {
  background: #efefef;
  justify-content: center;
  width: 60%;
  margin: 0px auto;
  -webkit-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.75);
  padding-bottom: 10px;

  @include tab() {
    width: 95%;
  }
}


.h1Text {
  text-align: center;
  margin: 0 20px;
  font-size: 25px;
  color: $secondaryColor;
}

.pHeader {
  margin: 10px 20px;
  font-size: 15px;

  span {
    color: red;
    font-size: 12px;
  }
}


.ed-row-1,
.level-of-education,
.ed-certificate {

  margin: 20px 20px 0px 20px;

  p {
    margin: 2px 0;
  }
}

.row-ed-training-place{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 0px 20px;
  &__place {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 10px;
    
  }
  &__duration {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 10px;
  }

}


.header-text{
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px 0px 20px;
}

.row-we-remove {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &__btn {
    margin-right: 20px;
  }
}

.row-100 {
  width: 95%;
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-wrap: wrap;

  .row-100-title {
    flex-basis: 100%;
  }

  .row-100-1 {
    flex-basis: 15%;
    margin-right: 10px;
    flex-wrap: wrap;

    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-2 {
    flex-basis: 15%;

    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-4 {
    flex-basis: 15%;
    margin-right: 10px;

    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-5 {
    flex-basis: 15%;

    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-6 {
    // flex-basis: 15%;
    margin-left: 10px;
    margin-top: -10px;
  }

  .row-100-3 {
    flex-basis: 3%;
    margin-left: 20px;
    margin-right: 20px;

    @include tab() {
      margin: 0px 0px;
      flex-basis: 85%;
      text-align: center;
    }
  }
}