@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import "../_baseVariables.scss";

*{
    font-family: 'Baloo Tamma 2', cursive;
}


.clearFix{
    clear: both;
}

.searchText{
    width: 60%;
    margin-left: 20%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
}


.Fixed-Job-Details{
    display: inline;
    @include tab(){
        display: none;
    }
}



.filter{
    width: 60%;
    margin-left: 20%;
    @include tab(){
        width: 70%;
        
    }

    .filter-item-1, .filter-item-2, .filter-item-3, .filter-item-4 {
        width: 20%;
        float: left;
        margin-right: 2%;
        @include tab(){
            width: 48%;
            
        }
    }
}


.searchResults{
    width: 23%;
    margin-left: 20%;
    float: left;
    .searchResults-text{
        margin-bottom: 10px;
    }
    @include tab(){
        width: 70%;
    }
}

.jobDetails{
    width: 23%;
    right: 25%;
    top: 185px;
    position: fixed;
}

.JobDescription{
    padding-left: 10px;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

/* .jobDetails-after-scroll{
    width: 23%;
    right: 25%;
    top: 20px;
    position: fixed;

    .JobDescription{
        padding-left: 7px;
        margin-top: 20px;
    }
    
}
 */


.divider{
    width: 96%;
    margin-left: 2%;
    margin-top: 10px;
}


.applyNow{
    width: 300px;
    margin-top: -30px;
}