@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import "../_baseVariables.scss";

* {
  font-family: 'Baloo Tamma 2', cursive;
}

.clearFix {
  clear: both;
}

.jobDetailsMobile {
  padding: 15px;
  margin: 2px 2px;

  -webkit-box-shadow: -1px -1px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 14px -1px rgba(0, 0, 0, 0.75);
}


.jobcard-first-container {
  // height: 100vh;
  min-height: 100vh;
  // min-height: 500vh;
}

.loader {
  width: 23%;
  margin-left: 20%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 10px;

  @include tab() {
    width: 70%;
  }
}

.searchText {
  width: 60%;
  margin-left: 20%;
  // text-align: left;
  margin-top: 25px;
  margin-bottom: 10px;
}

.searchText-pagination-jobcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Fixed-Job-Details {
  display: inline;

  @include tab() {
    display: none;
  }
}

.alertMsg {
  width: 60%;
  margin-left: 20%;
  margin-right: 15%;
}

.login-row-item-1 {

  width: 80%;
  margin-left: 5%;
}

.filter {
  width: 95%;
  margin-left: 15px;

  @include tab() {
    // width: 70%;
    display: none;
  }

  .filter-item-1,
  .filter-item-2,
  .filter-item-3,
  .filter-item-4 {
    width: 20%;
    float: left;
    margin-right: 2%;

    @include tab() {
      width: 48%;
    }
  }
}

.filterFixedPosition {

  width: 60% !important;
  right: "20%";
  top: "100px";

  @include tab() {
    right: "0";
    width: 100% !important;
  }
}

.job-search-job-card {
  width: 95%;
  margin-left: 15px;
  margin-right: 15px;
}

.filter-fixed-position {
  position: fixed;
  width: 60%;
  // z-index: 3;
  margin: 0 auto;
  background: skyblue;
  padding-top: 10px;
  top: 100px;
  right: 20%;
}

.job-card-job-search {

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.75);
  }
}

.searchResults {
  width: 23%;
  margin-left: 20%;
  float: left;

  .searchResults-text {
    margin-bottom: 10px;
  }

  @include tab() {
    width: 70%;
  }
}

.jobDetails {
  @include tab() {
    display: none;
  }
}

.JobDescription {
  padding-left: 10px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
}

/* .jobDetails-after-scroll{
    width: 23%;
    right: 25%;
    top: 20px;
    position: fixed;

    .JobDescription{
        padding-left: 7px;
        margin-top: 20px;
    }
}
 */


.divider {
  width: 96%;
  margin-left: 2%;
  margin-top: 10px;
}


.applyNow {
  width: 300px;
  margin-top: -30px;
  @include tab() {
    width: 150px;
  }
}

// job online applied css start
.jobApplied_online {
  .v-card {
    padding: pxToVw(60) pxToVw(50);

    h1 {
      margin-bottom: pxToVw(30);
      color: green
    }

    .online_info_list {
      li {
        margin: pxToVw(15) 0;
        display: flex;
        align-items: baseline;
        font-size: pxToVw(16);
      }

      .v-input {
        max-width: 50%;
        margin-right: pxToVw(10);
      }
    }

    .side_title {
      margin-right: pxToVw(15);
      width: 30%;
      font-weight: 700;
    }
  }

  .applied_card {
    background-color: #ececec;
    padding: pxToVw(30);
    border: 1px solid #c6c4c5;

  }
}

// job online applied css end


//expected salary starts
.expectedSalary-job-search {
  display: flex;
  flex-wrap: wrap;

  &__title {
    margin-top: 10px;
    margin-right: 20px;
  }

}


.expectedSalary-job-search__applybutton {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.job_desc {
  padding: 25px 15px;
}

.jobCard_box {
  margin: 75px 5px 55px 5px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #fff;
  padding: 0 30px;
  cursor: pointer;
  height: 100%;
  max-height: 200px;
}
.jobCard_body{
  margin-left: 20px;
  h3{
    margin-bottom: 15px;
    font-size: 25px;
  }
}
//.jobCard_icon {
//  border: 1px solid #ebebeb;
//  width: 78px;
//  height: 78px;
//  line-height: 73px;
//  text-align: center;
//  border-radius: 100%;
//  background: #fff;
//  //position: absolute;
//  //top: -45px;
//  //left: 35px;
//  .v-icon{
//    font-size: 30px !important;
//    color: $primaryColor !important;
//  }
//}
//expected salry ends
