@import "../_baseVariables.scss";

.mainTemplate {
  // background: green;
}

.mainContainer {
  background: #efefef;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
}

.h1Text {
  text-align: center;
  margin: 0 20px;
  font-size: 25px;
  color: $secondaryColor;
}

.pHeader {
  margin: 10px 20px;
  font-size: 15px;
  span {
    color: red;
    font-size: 12px;
  }
}

.add_more_btn{
  margin-right: 10px;
}

.row-1,
.row-2,
.row-we-7,
.row-we-af {
  width: 95%;
  margin: 20px 20px 0px 20px;
  p {
    margin: 2px 0;
  }
  @include tab() {
    width: 85%;
  }
}

.row-100 {
  width: 95%;
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-wrap: wrap;

  .row-100-title {
    flex-basis: 100%;
  }

  .row-100-1 {
    flex-basis: 30%;
    margin-right: 10px;
    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-2 {
    flex-basis: 15%;
    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-4 {
    flex-basis: 30%;
    margin-right: 10px;
    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-5 {
    flex-basis: 15%;
    @include tab() {
      flex-basis: 40%;
    }
  }

  .row-100-6 {
    // flex-basis: 15%;
    margin-left: 10px;
    margin-top: -10px;
  }

  .row-100-3 {
    flex-basis: 3%;
    margin-left: 20px;
    margin-right: 20px;
    @include tab() {
      margin-left: 0px;
      margin-right: 0px;
      flex-basis: 85%;
      text-align: center;
    }
  }
}

.row-we-6 {
  margin: 15px 20px;
  p {
    margin-bottom: 5px;
  }
}

.row-we-remove {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  &__btn{
    margin-right: 20px;
  }
}

.applicationInfo {
  margin: 20px 20px 0px 20px;
  font-size: 20px;
  font-weight: bold;
}

.row-we-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 0px 20px;
  .we-skills-title {
    flex-basis: 100%;
  }

  .we-skills-box {
    height: 40px;
    // width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background: #00adef;
    color: white;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .skill-add-text-field {
    flex-basis: 100%;
    margin-top: 10px;
  }
}
