@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

ul li {
  list-style: none;
}

.ja__headline {
  font-size: 1.981vw;
}

@media only screen and (max-width: 767px) {
  .ja__headline {
    font-size: 6vw;
  }
}

.image--size {
  height: 100px;
  width: 100px;
}

.rd-main-card {
  background: transparent;
}

.dr-title-all {
  color: #002157;
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 20px;
}

.default-resume-main-card {
  background: white;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 991px) {
  .default-resume-main-card {
    width: 90%;
  }
}

@media screen and (max-width: 1199px) {
  .default-resume-main-card {
    width: 90%;
  }
}

.years-of-experience {
  color: #002157;
  font-size: 20px;
  font-weight: bold;
}

.table-title-dr {
  color: #002157;
  font-size: 15px;
  font-weight: bold;
}

.defaultResume-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.defaultResume-title .dr-title-photo {
  margin-top: 70px;
}

@media only screen and (max-width: 991px) {
  .defaultResume-title .dr-title-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 0px;
  }
}

.defaultResume-title-text {
  font-size: 30px;
  color: #002157;
  font-weight: bold;
}

.dr-main-text-div {
  line-height: 20px;
  margin-top: 100px;
}

@media only screen and (max-width: 991px) {
  .dr-main-text-div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.dr-career-objective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dr-academic-qualification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dr-academic-qualification .dr-academic-q-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -20px;
}

@media only screen and (max-width: 991px) {
  .dr-academic-qualification .dr-academic-q-heading {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #002157;
    padding: 10px 20px;
    line-height: 20px;
  }
}

.dr-academic-qualification .dr-academic-q-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 991px) {
  .dr-academic-qualification .dr-academic-q-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #002157;
    padding: 10px 20px;
    line-height: 20px;
  }
}

.dr-academic-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dr-academic-certificate .dr-academic-c-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
}

@media only screen and (max-width: 991px) {
  .dr-academic-certificate .dr-academic-c-heading {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #002157;
    padding: 10px 20px;
    line-height: 20px;
  }
}

.dr-academic-certificate .dr-academic-c-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 991px) {
  .dr-academic-certificate .dr-academic-c-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #002157;
    padding: 10px 20px;
    line-height: 20px;
  }
}

.dr-academic-c-heading-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.dr-academic-q-heading-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.dr-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appInfo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dr-application-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dr-application-info .dr-application-info-1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.last-section-dr {
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */